ipykernel==6.22.0 
opencv-python==4.7.0.72
requests==2.28.2
matplotlib==3.7.1
fvcore==0.1.5.post20221221
wandb==0.15.3 
filterpy==1.4.5
scikit-image==0.17.2
lap==0.4.0
labelbox[data]==3.48.0
pandas==2.0.2
Pillow==9.5.0
moviepy==1.0.3
git+https://github.com/facebookresearch/segment-anything.git